{% extends "base.html" %} {% block content %}
<div class="content-container">
  <h2>Attendance Records</h2>
  {% if attendance %}
  <table>
    <tr>
      <th>Date</th>
      <th>Student Username</th>
      <th>Status</th>
    </tr>
    {% for record in attendance %}
    <tr>
      <td>{{ record['session_date'] }}</td>
      <td>{{ record['student_username'] }}</td>
      <td>{{ record['status'] }}</td>
    </tr>
    {% endfor %}
  </table>
  {% else %}
  <p>No attendance records available.</p>
  {% endif %}
</div>
{% endblock %}
