{% extends "base.html" %} {% block content %}
<div class="form-container">
  <h2>Record Attendance for {{ date }}</h2>
  <form method="post" action="{{ url_for('attendance') }}">
    <input type="hidden" name="date" value="{{ date }}" />
    {% for student in students %}
    <div>
      <label>{{ student['name'] }}</label>
      <select name="{{ student['student_id'] }}">
        <option value="Present">Present</option>
        <option value="Absent">Absent</option>
      </select>
    </div>
    {% endfor %}
    <button type="submit" class="button">Submit Attendance</button>
  </form>
</div>
{% endblock %}
