{% extends "base.html" %} {% block content %}
<div class="course-catalog-container">
  <h2>Available Courses</h2>
  {% if courses %}
  <div class="course-grid">
    {% for course in courses %}
    <div class="course-card">
      <h3>{{ course['title'] }}</h3>
      <p>{{ course['description'] }}</p>
      <form
        action="{{ url_for('enroll_in_course', course_id=course['course_id']) }}"
        method="post"
      >
        <button type="submit" class="button">Enroll</button>
      </form>
    </div>
    {% endfor %}
  </div>
  {% else %}
  <p>You have enrolled in all available courses.</p>
  {% endif %}
</div>
{% endblock %}
