{% extends "base.html" %} {% block content %}
<div class="content-container">
  <h2>Students Enrolled in Course</h2>
  <a href="{{ url_for('enroll_student', course_id=course_id) }}" class="button"
    >Enroll New Student</a
  >
  {% if students %}
  <ul>
    {% for student in students %}
    <li>
      {{ student }} -
      <form
        action="{{ url_for('remove_student', course_id=course_id, student_username=student) }}"
        method="post"
        style="display: inline"
      >
        <button
          type="submit"
          onclick="return confirm('Are you sure you want to remove this student?');"
        >
          Remove
        </button>
      </form>
    </li>
    {% endfor %}
  </ul>
  {% else %}
  <p>No students enrolled in this course.</p>
  {% endif %}
  <a href="{{ url_for('mark_attendance', course_id=course_id) }}" class="button"
    >Mark Attendance</a
  >
</div>
{% endblock %}
