{% extends "base.html" %} {% block content %}
<div class="form-container">
  <h2>Edit Course</h2>
  <form
    method="post"
    action="{{ url_for('edit_course', course_id=course['course_id']) }}"
  >
    <label for="title">Course Title:</label>
    <input
      type="text"
      name="title"
      id="title"
      value="{{ course['title'] }}"
      required
    />

    <label for="description">Course Description:</label>
    <textarea name="description" id="description" required>
{{ course['description'] }}</textarea
    >

    <button type="submit" class="button">Update Course</button>
  </form>
</div>
{% endblock %}
