{% extends "base.html" %} {% block content %}
<div class="content-container">
  <h1>Resources</h1>
  <div class="resources-grid">
    {% for resource in resources %}
    <div class="resource-card">
      <img
        src="{{ url_for('static', filename='Books/stakehoder_pic.jpg') }}"
        alt="Book"
        class="resource-image"
      />
      <h3>{{ resource.description }}</h3>
      <p>Grade {{ resource.grade_level }}</p>
      <div class="resource-actions">
        <a
          href="{{ url_for('download_resource', filename=resource.filename) }}"
          class="button"
          target="_blank"
        >
          View PDF
        </a>
      </div>
    </div>
    {% endfor %}
  </div>
</div>
{% endblock %}
